        <script>
            // function palaced outside of document.ready to ensure global scope
            function getCount()
                        {
                            var textarea = $("#requests")
                            var charLabel = $("#charCount")
                            var characterCount = textarea.val().length
                            charLabel.text(`${characterCount} of 300 characters`)
                        }
            $(document).ready(function()
            {       
                      
                        // custom validation
                        (() => {
                        'use strict'
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        const forms = document.querySelectorAll('.needs-validation')

                        // Loop over them and prevent submission
                        Array.from(forms).forEach(form => {
                            form.addEventListener('submit', event => {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                            }, false)
                        })
                        })()

                      // Function to show loader
                        function showLoader() 
                        {
                            $(".buttonText").attr("hidden",true)
                            $(".loader").removeAttr("hidden")

                            $('.loader').show();
                        }
                        function hideLoader()
                        {
                            $('.loader').hide()
                        }
                        // showModal
                        function showModal() 
                        {
                            $("#bookingModal").modal('show')
                        }
                        
                        // function to handle form submission
                        $('#quote').submit(function (e)
                        {
                            e.preventDefault();
                            // perform form validation
                            if(this.checkValidity()){
                                showLoader() // show loader

                                // make AJAX request to the server
                                $.ajax({
                                    url: $(this).attr('action'),
                                    type: $(this).attr('method'),
                                    data: $(this).serialize(),
                                    success: function(response){
                                        // if the request is successful hide the loader and show the modal
                                        hideLoader()
                                        console.log(response)
                                        if (response.success){
                                            debugger
                                            showModal()
                                        }else {
                                            debugger
                                            alert('Credentials incorrect. Please try again')
                                        }
                                    },
                                    error: function(xhr, status, error) {
                                    hideLoader();
                                    alert(`Error: ${error.message}`); // Display the error message
                                    console.log(xhr.responseText); // Log the server response for detailed error analysis
                                }
                                })  
                            } else{
                                // If form validation fails, prevent submission and display validation messages
                                this.classList.add('was-validated')
                            }
                                                                                                                
                        })





                //SCROLL BUTTON
                let scrollBtn = $("#topScrollBtn")

                function checkScroll()
                {
                        //  when user scrolls show button
                        if ($(window).scrollTop() > 20){
                        scrollBtn.fadeIn()
                    }else{
                        scrollBtn.hide()
                    }
                }
                checkScroll() // run on page load to set state

                //attach function to scroll event
                $(window).scroll(function()
                {
                checkScroll()
                })
                // when button is clicked go to the top of the document
                window.goToTop = function()
                {
                    $("html,body").animate({scrollTop: 0},"fast")
                }
                   
            })
            // DataTables functions and styling
          
            $('#serviceRequests').DataTable({
                responsive: false,
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                scrollX:"true",
                scrollY: "true",
                scrollCollapse: true,
                dom:  '<"d-flex justify-content-between align-items-center"Bf>rt<"d-flex justify-content-between"lp><"clear">',
                buttons: [
                   'pdf', 'print'
                ],
                lengthMenu: [
        [10, 25, 50, -1],
        [10, 25, 50, 'All']
    ],
             columnDefs: [
            { width: "45px", targets: 0 }, // ID column
            { width: "80px", targets: 1 }, // First Name column
            { width: "90px", targets: 2 }, // Last Name column
            { width: "130px", targets: 3 }, // Email column
            { width: "85px", targets: 4 }, // Cell column
            { width: "100px", targets: 5 }, // Address column
            { width: "100px", targets: 6 }, // Suburb column
            { width: "100px", targets: 7 }, // City column
            { width: "100px", targets: 8 }, // Requests column
            { width: "100px", targets: 9 }, // Date Created column
            { width: "100px", targets: 10,// status column
                render: function(data, type, row, meta){
                    return `
                    <select class="status-select">
                        <option value="pending" ${data === 'pending' ? 'selected' : ''}>Pending</option>
                        <option value="in_progress" ${data === 'in_progress' ? 'selected' : ''}>In Progress</option>
                        <option value="completed" ${data === 'completed' ? 'selected' : ''}>Completed</option>
                    </select>
                `;
                }
             },
             // Actions column
        ]
            });

            // Save button click handler
        $('#serviceRequests tbody').on('click', '.save-row', function() {
            var $row = $(this).closest('tr');
             var rowData =  {
                id: $(this).data('id'),
                first_name: $row.find('td').eq(1).html().trim(),
                last_name: $row.find('td').eq(2).html().trim(),
                email: $row.find('td').eq(3).html().trim(),
                cell: $row.find('td').eq(4).html().trim(),
                address: $row.find('td').eq(5).html().trim(),
                suburb: $row.find('td').eq(6).html().trim(),
                city: $row.find('td').eq(7).html().trim(),
                requests: $row.find('td').eq(8).html().trim(),
                status: $row.find('select.status-select').val()

            };
            //  console.log(rowData); // Print the row data to the console to verify
            // Send updated data to the server
            $.ajax({
                url: '/admin/update-service-request',
                method: 'POST',
                data: rowData,
                success: function(response) {
                    // Handle success
                    alert('Row updated successfully');
                },
                error: function(error) {
                    // Handle error
                    console.error('Error updating row', error);
                }
            });
        });
    


        // Delete button click handler
        $('#serviceRequests tbody').on('click', '.delete-row', function() {
            var $row = $(this).closest('tr');
             var rowData =  {
                id: $(this).data('id'),
                first_name: $row.find('td').eq(1).html().trim(),
                last_name: $row.find('td').eq(2).html().trim(),
                email: $row.find('td').eq(3).html().trim(),
                cell: $row.find('td').eq(4).html().trim(),
                address: $row.find('td').eq(5).html().trim(),
                suburb: $row.find('td').eq(6).html().trim(),
                city: $row.find('td').eq(7).html().trim(),
                requests: $row.find('td').eq(8).html().trim()
            };
            //  console.log(rowData); // Print the row data to the console to verify
            // Send updated data to the server
            $.ajax({
                url: '/admin/delete-service-request',
                method: 'POST',
                data: rowData,
                success: function(response) {
                    // Handle success
                    alert('Row deleted successfully');
                },
                error: function(error) {
                    // Handle error
                    console.error('Error deleting row', error);
                }
            });
        });
            // datatables function end
            

            
        </script>
        
        
        <div class="footer"  >
            <p>
                
                Nothnagel Tech Solutions <i class="far fa-copyright"></i> <%= currentYear %>
            </p>
        </div>
    </div>
<!-- container div end -->

</body>

</html>