<form  class="needs-validation" id="quote" novalidate action="/newServiceRequest" method="post">
    
   
    <div class="row">
        <h4 class="mt-2" >Pick your required service:</h4>
        <hr class="gradient-hr mb-2">

        <div class="col-md-4 col-sm-12">
            <h4 style="text-decoration: underline;">Construction:</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxElectrical" 
                name="electrical" value="Electrical">
                <label class="form-check-label" for="checkboxElectrical">
                    service
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxMaintenance"
                name="maintanance" value="Maintanance">
                <label class="form-check-label" for="checkboxMaintenance">
                    service
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxNewDevelopments"
                name="new_Developments" value="New Developments">
                <label class="form-check-label" for="checkboxNewDevelopments">
                   service
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPainting"
                name="painting" value="Painting" >
                <label class="form-check-label" for="checkboxPainting">
                    service
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPlumbing"
                name="plumbing" value="Plumbing">
                <label class="form-check-label" for="checkboxPlumbing">
                    service
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxRenovations"
                name="renovations" value="Renovations">
                <label class="form-check-label" for="checkboxRenovations">
                    service
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4 style="text-decoration: underline;">Electrical:</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxElectrical" 
                name="electrical" value="Electrical">
                <label class="form-check-label" for="checkboxElectrical">
                    C.O.C
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxMaintenance"
                name="maintanance" value="Maintanance">
                <label class="form-check-label" for="checkboxMaintenance">
                    service2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxNewDevelopments"
                name="new_Developments" value="New Developments">
                <label class="form-check-label" for="checkboxNewDevelopments">
                   service3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPainting"
                name="painting" value="Painting" >
                <label class="form-check-label" for="checkboxPainting">
                    service4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPlumbing"
                name="plumbing" value="Plumbing">
                <label class="form-check-label" for="checkboxPlumbing">
                    service5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxRenovations"
                name="renovations" value="Renovations">
                <label class="form-check-label" for="checkboxRenovations">
                    service6
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4 style="text-decoration: underline;">Painting:</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxElectrical" 
                name="electrical" value="Electrical">
                <label class="form-check-label" for="checkboxElectrical">
                    service1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxMaintenance"
                name="maintanance" value="Maintanance">
                <label class="form-check-label" for="checkboxMaintenance">
                    service2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxNewDevelopments"
                name="new_Developments" value="New Developments">
                <label class="form-check-label" for="checkboxNewDevelopments">
                   service3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPainting"
                name="painting" value="Painting" >
                <label class="form-check-label" for="checkboxPainting">
                    service4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPlumbing"
                name="plumbing" value="Plumbing">
                <label class="form-check-label" for="checkboxPlumbing">
                    service5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxRenovations"
                name="renovations" value="Renovations">
                <label class="form-check-label" for="checkboxRenovations">
                    service6
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4 style="text-decoration: underline;">Plumbing:</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxElectrical" 
                name="electrical" value="Electrical">
                <label class="form-check-label" for="checkboxElectrical">
                    service1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxMaintenance"
                name="maintanance" value="Maintanance">
                <label class="form-check-label" for="checkboxMaintenance">
                    service2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxNewDevelopments"
                name="new_Developments" value="New Developments">
                <label class="form-check-label" for="checkboxNewDevelopments">
                   service3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPainting"
                name="painting" value="Painting" >
                <label class="form-check-label" for="checkboxPainting">
                    service4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPlumbing"
                name="plumbing" value="Plumbing">
                <label class="form-check-label" for="checkboxPlumbing">
                    service5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxRenovations"
                name="renovations" value="Renovations">
                <label class="form-check-label" for="checkboxRenovations">
                    service6
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4 style="text-decoration: underline;">Renovations & Maintenance:</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxElectrical" 
                name="electrical" value="Electrical">
                <label class="form-check-label" for="checkboxElectrical">
                    service1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxMaintenance"
                name="maintanance" value="Maintanance">
                <label class="form-check-label" for="checkboxMaintenance">
                    service2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxNewDevelopments"
                name="new_Developments" value="New Developments">
                <label class="form-check-label" for="checkboxNewDevelopments">
                   service3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPainting"
                name="painting" value="Painting" >
                <label class="form-check-label" for="checkboxPainting">
                    service4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPlumbing"
                name="plumbing" value="Plumbing">
                <label class="form-check-label" for="checkboxPlumbing">
                    service5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxRenovations"
                name="renovations" value="Renovations">
                <label class="form-check-label" for="checkboxRenovations">
                    service6
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4 style="text-decoration: underline;">Roofing & Waterproofing:</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxElectrical" 
                name="electrical" value="Electrical">
                <label class="form-check-label" for="checkboxElectrical">
                    service1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxMaintenance"
                name="maintanance" value="Maintanance">
                <label class="form-check-label" for="checkboxMaintenance">
                    service2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxNewDevelopments"
                name="new_Developments" value="New Developments">
                <label class="form-check-label" for="checkboxNewDevelopments">
                   service3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPainting"
                name="painting" value="Painting" >
                <label class="form-check-label" for="checkboxPainting">
                    service4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPlumbing"
                name="plumbing" value="Plumbing">
                <label class="form-check-label" for="checkboxPlumbing">
                    service5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxRenovations"
                name="renovations" value="Renovations">
                <label class="form-check-label" for="checkboxRenovations">
                    service6
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4 style="text-decoration: underline;">Solar:</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxElectrical" 
                name="electrical" value="Electrical">
                <label class="form-check-label" for="checkboxElectrical">
                    service1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxMaintenance"
                name="maintanance" value="Maintanance">
                <label class="form-check-label" for="checkboxMaintenance">
                    service2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxNewDevelopments"
                name="new_Developments" value="New Developments">
                <label class="form-check-label" for="checkboxNewDevelopments">
                   service3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPainting"
                name="painting" value="Painting" >
                <label class="form-check-label" for="checkboxPainting">
                    service4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxPlumbing"
                name="plumbing" value="Plumbing">
                <label class="form-check-label" for="checkboxPlumbing">
                    service5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxRenovations"
                name="renovations" value="Renovations">
                <label class="form-check-label" for="checkboxRenovations">
                    service6
                </label>
            </div>
        </div>
        
        
        <div class="row">
            <h4 class="mt-2" >Fill out client details:</h4>
        <hr class="gradient-hr mb-2">
           
            <div class="col-md-4 col-sm-12">
                <label class="mb-2 mt-2" for="name">Name:</label>
                <input  class="form-control" type="text" id="firstname" name="firstname" placeholder="First Name" required>
                
            </div>
          
           <div class="col-md-4 col-sm-12">
            <label for="firstname" class="invisible mt-2 mb-2">2</label>
            <input  class="form-control" type="text" id="lastname" name="lastname" placeholder="Last Name" required>
           </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label class="mb-2 mt-2" for="email">Email:</label>
                <input  class="form-control" type="email" name="email" id="email" required>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="mb-2 mt-2" for="phone">Cell:</label>
                <input  class="form-control" type="tel" name="phone" id="phone" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label class="mb-2 mt-2" >Address:</label>
                <input class="form-control mb-2" type="text" id="street" name="street" placeholder="street number and name" required>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="mb-2 mt-2" for="suburb" >Suburb:</label>
                <input class="form-control mb-2" type="text" id="suburb" name="suburb" placeholder="suburb" required>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="mb-2 mt-2" for="city" >City:</label>
                <input class="form-control mb-2" type="text" id="city" name="city" placeholder="city" required>
            </div>
            <!-- <div class="col-md-6 col-sm-12">
                <label class="mb-2 mt-2" for="zipcode" >Zip code:</label>
                <input class="form-control mb-2" type="text" id="zipcode" name="zipcode" placeholder="zipcode" required>
            </div> -->
        </div>

            
        
        <div class="col-md-12 col-sm-12">
            <label class="mb-2" for="notes">Notes about what needs to be done:</label>
            <textarea class="form-control mb-2" name="notes" id="notes" oninput="getCount()" maxlength="300"></textarea>
            <label id="charCount">0 of 300 characters</label>
            <button type="submit" class="btn btn-maroon py-2 mb-2">
                <span class="buttonText">Submit</span>
                <!-- add loader -->
                <div class="loader spinner-border text-light " hidden onclick="showLoader()" role="status">
                </div>
            </button>
        </div>
        
        

    </div>
    <!-- modal to be displayed on form submission -->
    <div class="modal fade" id="serviceRequestModal" tabindex="-1" role="dialog" aria-labelledby="serviceRequestModalLabel" area-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceRequestModalLabel">Service Request Confirmation</h5>
                        
                </div>
                <div class="modal-body">
                    Your service request has been created successfully.
                </div>
                <div class="modal-footer">
                    <a type="button" href="/" class="btn btn-secondary" data-dismiss="modal">Close</a>
                </div>
            </div>

        </div>
    </div>
</form>