<%-include("__header")%>
<div class="container">
    <%-include("__logoAndNavServices")%>
    <div class="breadcrumbHeading">
        <h2 class="crumbHeading d-flex justify-content-center">Renevations</h2>
        <nav aria-label="breadcrumb" class="d-flex justify justify-content-center">
        <ol class="breadcrumb  bg-body-success rounded-3">
            <li class="breadcrumb-item">
            <a  href="/"class="link-body-emphasis" >
                Home
            </a>
            </li>
            <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Renevations</a>
            </li>
        </ol>
        </nav>
    </div>

    <!-- Booking section -->
    <div class="container">
        <h6 class="py-3 my-3">Please note this booking excludes costs such as travel and is not a confirmed booking yet.
            We will confirm the booking once the final quote has been accepted.</h6>
            <form  class="needs-validation" novalidate action="/newBooking" method="post">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label class="mb-2" for="prefix">Name:</label>
                    
                        <select  class="form-select" name="prefix" id="prefix" required>
                            <option value=""></option>
                            <option value="Mr">Mr</option>
                            <option value="Mr">Mrs</option>
                            <option value="Mr">Miss</option>
                            <option value="Mr">Ms.</option>
                            <option value="Mr">Dr</option>
                            <option value="Mr">Prof</option>
    
                        </select>
                        <div class="invalid-feedback">Please select a title</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label class="mb-2 invisible" for="firstname" >1</label>
                        <input  class="form-control" type="text" id="firstname" name="firstname" placeholder="First Name" required>
                        
                    </div>
                  
                   <div class="col-md-4 col-sm-12">
                    <label for="firstname" class="invisible mb-2">2</label>
                    <input  class="form-control" type="text" id="lastname" name="lastname" placeholder="Last Name" required>
                   </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label class="mb-2 mt-2" for="email">Email:</label>
                        <input  class="form-control" type="email" name="email" id="email" required>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="mb-2 mt-2" for="phone">Cell:</label>
                        <input  class="form-control" type="tel" name="phone" id="phone" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label class="mb-2 mt-2" >Address:</label>
                        <input class="form-control mb-2" type="text" id="street" name="street" placeholder="street number and name" required>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="mb-2 mt-2" for="suburb" >Suburb:</label>
                        <input class="form-control mb-2" type="text" id="suburb" name="suburb" placeholder="suburb" required>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="mb-2 mt-2" for="city" >City:</label>
                        <input class="form-control mb-2" type="text" id="city" name="city" placeholder="city" required>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="mb-2 mt-2" for="zipcode" >Zip code:</label>
                        <input class="form-control mb-2" type="text" id="zipcode" name="zipcode" placeholder="zipcode" required>
                    </div>
                </div>
                <div class="row">
                    <h4 class="mt-2">Period:</h4>
                    <hr class=" gradient-hr mb-2">
                    <div class="col-md-6 col-sm-12">
                        <label for="dateFrom">Date From:</label>
                        <input class="form-control mb-2" type="date" id="dateFrom" name="dateFrom" onchange="validateDateRange()" required>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="dateTo">Date To:</label>
                        <input class="form-control mb-2" type="date" id="dateTo" name="dateTo" onchange="validateDateRange()" required>
                    </div>
                    <div id="dateError" class="text-danger d-flex justify-content-center"></div>
                </div>
                <div class="row">
                    <h4 class="mt-2" >Pick your required sevice:</h4>
                    <hr class="gradient-hr mb-2">

                    <div class="col-md-4 col-sm-12 ">
                        <div class="card rounded border-success shadow-sm mb-2">
                            <div class="card-header text-center text-bg-secondary">
                                <h4>Daily Visits</h4>
                            </div>
                            <div class="card-body">
                                
                                <label class="mb-2" >Specify amount of Days in the field below:</label>
                                <label >Price: <span class="price">R170 </span>Days:</label>
                                
                                    <input type="number" id="daysDailyVisits" name="daysDailyVisits" value="0" onchange="calculateBill()">
                               
                                
                                

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="card rounded border-success shadow-sm mb-2 ">
                            <div class="card-header text-center ">
                                <h4>Twice a Day Visits</h4>
                            </div>
                            <div class="card-body">
                                <label class="mb-2" >Specify amount of Days in the field below:</label>
                                <label >Price: <span class="price">R220 </span>Days:</label>
                                
                                    <input  type="number" id="daysTwiceADayVisits" name="daysTwiceADayVisits" value="0" onchange="calculateBill()">
                                
                                
                               

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="card rounded border-success shadow-sm mb-2">
                            <div class="card-header text-center text-bg-success">
                                <h4>Stay Overs</h4>
                            </div>
                            <div class="card-body">
                                <label class="mb-2" >Specify amount of Days in the field below:</label>
                                <label >Price: <span class="price">R270 </span>Days:</label>
                                
                                <input type="number" id="daysStayOvers" name="daysStayOvers" value="0" onchange="calculateBill()" >
                                                              
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex py-2 col-md-4 col-sm-4">
                        <label for="Total">Total:R</label>
                        <input readonly class="Total form-control" type="text" id="Total" name="Total">
                    </div>

                        
                    
                    <div class="col-md-12 col-sm-12">
                        <label class="mb-2" for="requests">Personal requests:</label>
                        <textarea class="form-control mb-2" name="requests" id="requests" oninput="getCount()" maxlength="300"></textarea>
                        <label id="charCount">0 of 300 characters</label>
                        <button type="submit" class="btn btn-success py-2 mb-2">
                            <span class="buttonText">Submit</span>
                            <!-- add loader -->
                            <div class="loader spinner-border text-light " hidden onclick="showLoader()" role="status">
                            </div></button>
                    </div>
                    
                    

                </div>
                <!-- modal to be displayed on form submission -->
                <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" area-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="bookingModalLabel">Booking Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    </button>
                            </div>
                            <div class="modal-body">
                                Your booking has been placed successfully.
                            </div>
                            <div class="modal-footer">
                                <a type="button" href="/" class="btn btn-secondary" data-dismiss="modal">Close</a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <div >
                <button id="topScrollBtn" class="btn btn-success"  onclick="goToTop()">Go to top</button>
            </div>
                    <script>
                       


                                                    
                    </script>
                       

                        
                   
                
               
            



    </div>

    <%-include("__footer")%>
</div>
