<%- include("__header") %>
<div class="container">
 <%- include("__logoAndNavHome") %>
      <p>
        <h2>Your Trusted Partner in Construction and Home Improvement</h2>
      </p>
      <div class="row" >
        <div class="d-flex col-md-6 col-sm-12 order-sm-2 order-md-1 ">
          <p>
            At NSR Pro, we take pride in delivering exceptional construction and home improvement services 
            that transform your living and working spaces. With a commitment to quality, reliability, and customer 
            satisfaction, our team of skilled professionals is here to meet all your renovation and maintenance needs.
          </p>
        </div>
        <div class="pet-images d-flex col-md-6 col-sm-12 align-content-sm-center justify-content-md-center justify-content-sm-center justify-content-xs-center order-md-2 order-sm-1 ">
          <img  src="/images/maintenance_img.jpg" alt="">
        </div>
      </div>
      <p>
        <h2>At company name, our house sitting service is not a security service.</h2>
      </p>
      <p>However, with company name experts at your residence, it creates the perception that your home is occupied in your absence.</p>
      <p><strong>We offer more than pet sitting services our team comprises committed professionals with expertise in animal care.</strong></p>
        <p>We provide a comprehensive range of services beyond pet sitting; our team consists of dedicated professionals with specialized expertise in animal care.
          Our dedication extends beyond conventional pet sitting services. We offer tailored care, individualized attention, and an unwavering commitment 
          that distinguishes us. Selecting Company name means opting for a team of passionate professionals devoted to the well-being, happiness, and safety of your beloved pets.</p>
      
      
<h2>Benefits of using Company name</h2>
<!-- <div class="d-flex col-sm-12 col-md-6 justify-content-center">
  <img class="benefits-img" src="/images/benefits.jpg" alt="">
</div> -->
<div class="card">
  <div class="card-body d-flex justify-content-center">
    <img  src="/images/benefits.jpg" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 d-flex justify-content-md-center justify-content-center">
        <div class="card">
          <div class="card-body">
              <ul>
                <li>Highly dependable</li>
                <li>Located in Bloemfontein</li>
                <li>Individualized assistance</li>
              </ul>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-md-center justify-content-center">
        <div class="card">
          <div class="card-body">
              <ul>
                <li>Affectionate and compassionate</li>
                <li>Clear of any criminal records</li>
                <li>Respects your property</li>
              </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<h2>We offer you and your pets:</h2>
<div class="card">
  <div class="card-body d-flex justify-content-center">
    <img  src="/images/what we offer.jpg" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 d-flex justify-content-md-center justify-content-center">
        <div class="card">
          <div class="card-body">
              <ul>
                <li>Replenishment of fresh water</li>
                <li>Walks for your dog</li>
                <li>Engagement in play and interaction</li>
                <li>Feeding</li>
              </ul>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-md-center justify-content-center">
        <div class="card">
          <div class="card-body">
              <ul>
                <li>Regular check-ins via WhatsApp</li>
                <li>Accommodating any other requests as arranged</li>
                <li>Watering the garden and plants</li>
              </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<h2>House and Pet Sitting</h2>


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Daily Visits</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R170 per day.</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 minutes spent with your pets</li>
          <li>dog walks and daily updates</li>
          <li>pictures included</li>
      
        </ul>
        <a href="/bookings" type="button" class="w-100 btn btn-lg btn-outline-success">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Twice a day visits</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R220 per day</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1 full hour spent with your pets</li>
          <li>dog walks and daily updates</li>
          <li>pictures included</li>
         
        </ul>
        <a href="/bookings" type="button" class="w-100 btn btn-lg btn-success">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-success">
      <div class="card-header py-3 text-bg-success border-success">
        <h4 class="my-0 fw-normal">Stay overs</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R270 per night</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>your sitter stays over at your home</li>
          <li>dog walks and daily updates</li>
          <li>pictures included</li>
        </ul>
        <a href="/bookings" type="button" class="w-100 btn btn-lg btn-success">Book Now</a>
      </div>
    </div>
  </div>
</div>

<h2>Dog Walking</h2>
<div class="row row-cols-1  mb-3 text-center">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Monthly Rate</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R700</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>2 x per week</li>
          <li>30 minutes</li>
          <li>4 Weeks</li>
      
        </ul>
        <a href="/bookings" type="button" class=" btn btn-lg btn-outline-success">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header text-bg-success py-3">
        <h4 class="my-0 fw-normal">Monthly Rate</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title ">R600</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>2 x per week</li>
          <li>20 minutes</li>
          <li>4 Weeks</li>
         
        </ul>
        <a href="/bookings" type="button" class=" btn btn-lg btn-success">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 rounded-3 shadow-sm border-success">
      <div class="card-header py-3  border-success">
        <h4 class="my-0 fw-normal">Single Rate</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R90</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 minutes</li>
          <li class="invisible"> 2</li>
          <li class="invisible">7 </li>
        </ul>
        <a href="/bookings" type="button" class=" btn btn-lg btn-success">Book Now</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 rounded-3 shadow-sm border-success">
      <div class="card-header py-3 text-bg-success border-success">
        <h4 class="my-0 fw-normal">Single Rate</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R80</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 minutes</li>
          <li class="invisible"> 2</li>
          <li class="invisible">7 </li>
        </ul>
        <a href="/bookings" type="button" class=" btn btn-lg btn-success">Book Now</a>
      </div>
    </div>
  </div>
</div>
<div >
  <button id="topScrollBtn" class="btn btn-success"  onclick="goToTop()">Go to top</button>
</div>


<%- include("__footer") %>