<%- include("__header") %>
<div class="container-fluid">
 <%- include("__logoAndNavHome") %>
      <p>
        <h2>Your Trusted Partner in Construction and Home Improvement</h2>
      </p>
      <div class="row" >
        <div class="d-flex col-md-6 col-sm-12 order-sm-2 order-md-1 ">
          <p>
            At NSR Pro, we take pride in delivering exceptional construction and home improvement services 
            that transform your living and working spaces. With a commitment to quality, reliability, and customer 
            satisfaction, our team of skilled professionals is here to meet all your renovation and maintenance needs.
          </p>
        </div>
        <div class="pet-images d-flex col-md-6 col-sm-12 align-content-sm-center justify-content-md-center justify-content-sm-center 
        justify-content-xs-center order-md-2 order-sm-1 ">
          <img  src="/images/maintenance_img.jpg" alt="">
        </div>
      </div>
      <p>
        <h2>Discover what we can do for you:</h2>
      </p>
      <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="col">
            <div class="card h-100 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Electrical</h3>
                    <p class="card-text">
                        Ensure the safety and functionality of your electrical systems with our comprehensive electrical services.
                         Our certified electricians handle everything from simple repairs to complete system upgrades.
                    </p>
                    <a href="/electrical" type="button" class="btn btn-maroon">
                        Request Service
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Maintenance</h3>
                    <p class="card-text">
                        Regular maintenance is key to preserving the value and longevity of your property. NSR Pro offers routine maintenance 
                        services to keep your home or business in pristine condition.
                    </p>
                    <a href="/maintanance" type="button" class="btn btn-maroon">
                        Request Service
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                   
                    <h3 class="card-title fs-2 text-body-emphasis">New Developments</h3>
                    <p class="card-text">
                        Whether you're planning a large commercial project or a small residential development, NSR Pro has the expertise 
                        to bring your vision to life. From initial design to final construction, we manage every aspect of the development 
                        process with precision and care.
                    </p>
                    <a href="/newDevelopments" type="button" class="btn btn-maroon">
                        Request Service
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100 mb-2 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Painting</h3>
                    <p class="card-text">
                        Add a splash of color to your life with our professional painting services. Our skilled painters use high-quality
                         materials to give your interiors and exteriors a fresh, vibrant look.
                    </p>
                    <a href="/painting" type="button" class="btn btn-maroon">
                        Request Service
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Plumbing</h3>
                    <p class="card-text">
                        From leaky faucets to complex plumbing installations, our experienced plumbers provide prompt and efficient solutions.
                         Trust NSR Pro to keep your water systems running smoothly.
                    </p>
                    <a href="plumbing" type="button" class="btn btn-maroon">
                        Request Service
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Renovations</h3>
                    <p class="card-text">
                        Revitalize your space with our expert renovation services. Whether you’re looking to modernize your kitchen,
                         update your bathroom, or transform your entire home, NSR Pro ensures top-notch craftsmanship and attention to detail.
                    </p>
                    <a href="/renovations" type="button" class="btn btn-maroon">
                        Request Service
                    </a>
                </div>
            </div>
        </div>
        
        
        
    </div>
         
<div >
  <button id="topScrollBtn" class="btn btn-maroon"  onclick="goToTop()">Go to top</button>
</div>
<div>
    <!-- Testimonial section -->
     <hr class="gradient-hr">
     <h2 class="testimonialHeader d-flex justify-content-center "> Testimonials</h2>
     <div class="hr-container d-flex justify-content-center">
        <hr class="gradient-hr-testimonial">
     </div>
     
</div>
<!-- carousal -->
<div id="demo" class="carousel slide" data-bs-slide="" >

  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <!-- loop through items in db and display each item -->
        <div class="carousel-item mt-3 active">
                 <div class="carousalcontainer ">
                    <div class="card-body carousal">
                        <h3 class="item-heading">Mr Miyagi</h3>
                        <p class="card-text carousal mb-3">
                           Their wax-on wax-off technique is unbeatable!
                        </p>
                    </div>
                </div>
            
        </div>
        <div class="carousel-item ">
            <div class="carousalcontainer ">
               <div class="card-body carousal">
                   <h3 class="item-heading">Jackie Chan</h3>
                   <p class="card-text carousal mb-3">
                    Their service is so smooth! Best in town.
                   </p>
               </div>
           </div>
       
   </div>
         <!-- <div class="carousel-item ">
            <div class="carousalcontainer ">
               <div class="card-body carousal">
                   <h3 class="item-heading">Jackie Chan</h3>
                   <p class="card-text mb-3">
                       Their service is so smooth! Best in town.
                   </p>
                   
               </div>
           </div>
       </div> -->
   
           
       

      
        
      
      
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
</div>


<%- include("__footer") %>