<%-include("__header")%>
<div class="container-fluid">
    <%-include("__logoAndNavRoofing&Waterproofing")%>
    <div class="breadcrumbHeading">
        <h2 class="crumbHeading d-flex justify-content-center">Roofing & Waterproofing</h2>
        <nav aria-label="breadcrumb" class="d-flex justify justify-content-center">
        <ol class="breadcrumb  bg-body-success rounded-3">
            <li class="breadcrumb-item">
            <a  href="/"class="link-body-emphasis" >
                Home
            </a>
            </li>
            <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Roofing & Waterproofing</a>
            </li>
        </ol>
        </nav>
    </div>

    <!-- Booking section -->
    <div class="container">
        <div class="col">
            <div class="card h-100 mb-2 mt-2 shadow-sm custom-border-color">
                <div class="card-body">
                    <p class="card-text">
                        Protect your property with NSR Pro’s roofing and waterproofing services. Our team offers comprehensive roofing solutions,
                         from installations to repairs, ensuring your roof is durable and weather-resistant. We also provide advanced 
                         waterproofing techniques to safeguard your building from water damage, extending the life of your property and
                          maintaining its value.
                    </p>
                  
                </div>
            </div>
        </div>
        <%-include ("__newRequestForm")%>
         
            <div >
                <button id="topScrollBtn" class="btn btn-maroon"  onclick="goToTop()">Go to top</button>
            </div>
                    <script>
                       


                                                    
                    </script>
                       

                        
                   
                
               
            



    </div>

    <%-include("__footer")%>
</div>
